.DiaryItem {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}
.img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}
.img-section img {
    width: 60px;
}

.img-section.bg-1 {
    background-color: #F9D55B;
}

.img-section.bg-2 {
    background-color: #FEC014;
}

.img-section.bg-3 {
    background-color: #538CA4;
}

.img-section.bg-4 {
    background-color: #949599;
}

.img-section.bg-5 {
    background-color: #949599;
}

.info-section {
    flex: 1;
    cursor: pointer;
}

.info-section .content {
    font-size: 18px;
}

.info-section .created-date {
    font-size: 25px;
    font-weight: bold;
}