.EmotionItem {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.EmotionItem img {
    width: 80%;
}

.EmotionItem.item_on_1{
     color: white;
    background-color: #F9D55B;
}
.EmotionItem.item_on_2{
    color: white;
    background-color: #FEC014;
}
.EmotionItem.item_on_3{
    color: white;
    background-color: #538CA4;
}

.EmotionItem.item_on_4{
    color: white;
    background-color: #949599;
}
.EmotionItem.item_on_5{
  color: white;
    background-color: #949599;
}